In [1]:
import pandas as pd

In [21]:
df_part2 = pd.read_csv("../data/DataPart2.csv", encoding="UTF-8")
df_part2 = df_part2.rename(columns={c: c.strip() for c in df_part2.columns})
df_part2.head(30)

    ProjectID  PageID  Department Location    ViewDate
0           1       1         130       US    6/2/2016
1           2       2          97       US    1/7/2016
2           3       3         200       US    8/8/2016
3           4       4          80       US    4/9/2016
4           5       5         899       US  10/10/2016
5           6       6         150       US  10/11/2016
6           3       7         209       US  12/12/2016
7           4       8          90       US   5/13/2016
8           6       9         130       US   6/14/2016
9           2      14          85       US   6/19/2016
10          3      15         240   Canada   20/9/2016
11          1      16         250   Canada   21/7/2016
12          1      17          87       US   3/22/2016
13          2      18          99   Canada   23/1/2016
14          6      19         150       US   3/24/2016
15          5       5         900       US   3/10/2016
16          4       6          86       US   8/11/2016
17          2       7          88       US   8/12/2016
18          3       8         198       US  12/13/2016
19          1       9         150   Canada   14/5/2016
20          6      14         250       US   7/19/2016
21          6      15         104       US   9/20/2016
22          3      16         270       US   2/21/2016
23          4      17          90       US   7/22/2016
24          1       1         130       US    6/3/2016
25          2       2         102       US    4/7/2016
26          1       3         114       US   11/8/2016
27          5       4         800       US    5/9/2016
28          5       5        1100       US  10/10/2016
29          3       6         285       US   6/11/2016

In [14]:
list(df_part2.columns)

['ProjectID', 'PageID', 'Department', 'Location', 'ViewDate']

In [27]:
df_part2.Location.value_counts()

US        28
Canada     4
Name: Location, dtype: int64

In [26]:
from typing import Tuple
import pandas as pd


def parse_date(
    date_str: str, date_format: str, separator: str = "/"
) -> Tuple[int, int, int]:
    """parse a date value into three new numerical values for day, month, year

    Args:
        - date_str (str): date in string
        - date_format (str): format of date string, choose from "DMY" and "MDY".
        - separator (str, optional): the seperator in the date string to seperate
        day, month, and year. Defaults to "/".

    Raises:
        ValueError: raise an error if date_format is not in ["DMY", "MDY"].

    Returns:
        Tuple[int, int, int]: a tuple of (day, month, year)

    Examples:
    >>> parse_date(date_str="13/11/1900", date_format="DMY")
    (13, 11, 1900)
    >>> parse_date(date_str="7/30/2022", date_format="MDY")
    (30, 7, 2022)
    """
    assert separator in date_str, "make sure `separator` exists in date_str"
    parts = [int(d) for d in date_str.strip().split(separator)]
    if date_format == "DMY":
        day, month, year = parts
    elif date_format == "MDY":
        month, day, year = parts
    else:
        raise ValueError("Unknown date format.")
    assert 1 <= day <= 31
    assert 1 <= month <= 12
    return day, month, year


# parse_date(date_str="13/11/1900", date_format="DMY")
parse_date(date_str="7/30/2022", date_format="MDY")

(30, 7, 2022)

In [35]:
def parse_date_column(df: pd.DataFrame) -> pd.DataFrame:
    def parse_row(row: "pd.Row") -> "pd.Row":

        if row.Location == "Canada":
            date_format = "DMY"
        elif row.Location == "US":
            date_format = "MDY"
        else:
            raise ValueError("Unknown Location")

        day, month, year = parse_date(row.ViewDate, date_format)
        row["day"], row["month"], row["year"] = day, month, year
        return row

    return df.apply(parse_row, axis=1)


df_part2 = parse_date_column(df_part2)
df_part2

    ProjectID  PageID  Department Location    ViewDate  day  month  year
0           1       1         130       US    6/2/2016    2      6  2016
1           2       2          97       US    1/7/2016    7      1  2016
2           3       3         200       US    8/8/2016    8      8  2016
3           4       4          80       US    4/9/2016    9      4  2016
4           5       5         899       US  10/10/2016   10     10  2016
5           6       6         150       US  10/11/2016   11     10  2016
6           3       7         209       US  12/12/2016   12     12  2016
7           4       8          90       US   5/13/2016   13      5  2016
8           6       9         130       US   6/14/2016   14      6  2016
9           2      14          85       US   6/19/2016   19      6  2016
10          3      15         240   Canada   20/9/2016   20      9  2016
11          1      16         250   Canada   21/7/2016   21      7  2016
12          1      17          87       US   3/22/2016   22      3  2016
13          2      18          99   Canada   23/1/2016   23      1  2016
14          6      19         150       US   3/24/2016   24      3  2016
15          5       5         900       US   3/10/2016   10      3  2016
16          4       6          86       US   8/11/2016   11      8  2016
17          2       7          88       US   8/12/2016   12      8  2016
18          3       8         198       US  12/13/2016   13     12  2016
19          1       9         150   Canada   14/5/2016   14      5  2016
20          6      14         250       US   7/19/2016   19      7  2016
21          6      15         104       US   9/20/2016   20      9  2016
22          3      16         270       US   2/21/2016   21      2  2016
23          4      17          90       US   7/22/2016   22      7  2016
24          1       1         130       US    6/3/2016    3      6  2016
25          2       2         102       US    4/7/2016    7      4  2016
26          1       3         114       US   11/8/2016    8     11  2016
27          5       4         800       US    5/9/2016    9      5  2016
28          5       5        1100       US  10/10/2016   10     10  2016
29          3       6         285       US   6/11/2016   11      6  2016
30          2       7          87       US  10/12/2016   12     10  2016
31          3       8         300       US   7/13/2016   13      7  2016

In [40]:
def to_month_name(month: int) -> str:
    """convert month (int) into month name (str).

    Args:
        month (int): month in int

    Returns:
        str: month name in str
    
    Examples:
    >>> to_month_name(1)
    January
    """
    dic = {
        1: "January",
        2: "February",
        3: "March",
        4: "April",
        5: "May",
        6: "June",
        7: "July",
        8: "August",
        9: "September",
        10: "October",
        11: "November",
        12: "December",
    }
    return dic[month]


df_part2["month_name"] = df_part2.month.apply(to_month_name)
df_part2

,ProjectID,PageID,Department,Location,ViewDate,day,month,year,month_name
0,1,1,130,US,6/2/2016,2,6,2016,June
1,2,2,97,US,1/7/2016,7,1,2016,January
2,3,3,200,US,8/8/2016,8,8,2016,August
3,4,4,80,US,4/9/2016,9,4,2016,April
4,5,5,899,US,10/10/2016,10,10,2016,October
5,6,6,150,US,10/11/2016,11,10,2016,October
6,3,7,209,US,12/12/2016,12,12,2016,December
7,4,8,90,US,5/13/2016,13,5,2016,May
8,6,9,130,US,6/14/2016,14,6,2016,June
9,2,14,85,US,6/19/2016,19,6,2016,June
10,3,15,240,Canada,20/9/2016,20,9,2016,September
11,1,16,250,Canada,21/7/2016,21,7,2016,July
12,1,17,87,US,3/22/2016,22,3,2016,March
13,2,18,99,Canada,23/1/2016,23,1,2016,January
14,6,19,150,US,3/24/2016,24,3,2016,March
15,5,5,900,US,3/10/2016,10,3,2016,March
16,4,6,86,US,8/11/2016,11,8,2016,August
17,2,7,88,US,8/12/2016,12,8,2016,August
18,3,8,198,US,12/13/2016,13,12,2016,December
19,1,9,150,Canada,14/5/2016,14,5,2016,May
20,6,14,250,US,7/19/2016,19,7,2016,July
21,6,15,104,US,9/20/2016,20,9,2016,September
22,3,16,270,US,2/21/2016,21,2,2016,February
23,4,17,90,US,7/22/2016,22,7,2016,July
24,1,1,130,US,6/3/2016,3,6,2016,June
25,2,2,102,US,4/7/2016,7,4,2016,April
26,1,3,114,US,11/8/2016,8,11,2016,November
27,5,4,800,US,5/9/2016,9,5,2016,May
28,5,5,1100,US,10/10/2016,10,10,2016,October
29,3,6,285,US,6/11/2016,11,6,2016,June
30,2,7,87,US,10/12/2016,12,10,2016,October
31,3,8,300,US,7/13/2016,13,7,2016,July